/* ---- CONFIGURATION BASIQUE DU DOCUMENT---- */

*{
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;

}


/* ---- APPLIQUE AU BODY LA POLICE ET LA JOLIE COULEUR DU BACKGROUND---- */


body{
  
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(247,121,36);
    background: linear-gradient(90deg, rgba(247,121,36,0.5592436803823091) 0%, rgba(136,59,223,0.6894958667060574) 100%); 
}


/* ---- FLEX POUR LE LOGO MY MUSIC---- */

.logo{
    display: flex;
    justify-content: center;
}

/* ---- FLEX POUR LA NAVBAR---- */

.navbar-nav{
    display: flex;
    justify-content: space-around;
    width: 70vw;
}

/* ---- CONFIGURATION DU MENU---- */

.nav-link{
    font-size: 30px;
    color: white;
}

header{
    display: flex;
    justify-content: center;
}





/* ---- CONFIGURE LES TITRES---- */

.titleH p {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 4rem;
    background: black;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    transition: 0.10s ease-out;
    white-space: nowrap;
  }
  
  .titleH {
    position: relative;
    
  }

  .titleA{
    margin-bottom: 50px;
    margin-top: 50px;
  }
  

/* ---- CONFIGURE LE TRAIT BLANC SUR LES TITRES---- */

  .titleH:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 15px;
    background: white;
    bottom: 13px;
    transition: all 0.2s ease-out;
  }


/* ---- CONFIGURE LE HOVER POUR LE TITRE---- */
  
  .titleH p:hover {
    background-position: 0 5px;
  }

 /* ---- CONFIGURE LA DESCENTE DU TRAIT BLANC POUR LE TITRE---- */
  
  .titleH:hover:before {
    transform: translateY(39px)
  }

/* ---- CONFIGURE LE FLEX POUR LES CARDS ARTISTES---- */

.favoriteArt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}



.favoriteArt::before{
     content: '';
     position: absolute;
     height: 100%;
    
}


.favoriteArt::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    
    height: 100%;
  
}


/* ---- CONFIGURE LE FLEX POUR LA CARD---- */

.containera{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
   
    
}

/* ---- CONFIGURE LE CONTOUR DE LA CARD---- */

.containera .carda{
    position: relative;
    width: 350px;
    height: 400px;
    background: rgba(255, 255, 255, 0.15);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}


/* ---- CONFIGURE L'INTERIEUR DE LA CARD---- */

.containera .carda .contenta{
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}


/* ---- CONFIGURE L'ANIMATION DE LA CARD AVEC LA MONTEE ET L'OPACITE---- */

.containera .carda:hover .contenta{
    opacity: 1;
    transform: translateY(-20px);

}

/* ---- CONFIGURE LES IMAGES ET LA BORDURE---- */

.containera .carda .contenta .imgArt{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);

}

.containera .carda .contenta .imgArt img{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---- CONFIGURE LE NOM DE L'ARTISTE---- */

.containera .carda .contenta .contentaArt h3{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

/* ---- CONFIGURE LE STYLE DE MUSIQUE---- */

.containera .carda .contenta .contentaArt h3 span{


    font-size: 18px;
    font-weight: 300;
    text-transform: initial;
}

/* ---- CONFIGURE LES ICONES DE RESEAUX---- */

.containera .carda .sci {
    position: absolute;
    bottom: 20px;
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: center;
   
}

/* ---- CONFIGURE LES ANIMATIONS DES ICONES DE RESEAUX---- */

.containera .carda .sci li{
    list-style: none; 
    margin: 0 10px;
    font-size: 20px;
    transform: translateY(30px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
    
    
}

/* ---- CONFIGURE LES ANIMATIONS DES ICONES DE RESEAUX---- */

.containera .carda:hover .sci li{
    transform: translateY(10px);
    opacity: 1;
}

/* ---- CONFIGURE LES ICONES DE RESEAUX---- */

.containera .carda .sci li a {
    color: #fff;
    font-size: 24px;
}


  /* -------   SLIDER ------------------ */
  
  .slick-slide {
      margin: 0px 20px;
  }
  
  .slick-slide img {
      width: 100%;
  }
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }


.contentRandom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    
}

.contentRandom .randomCard{

position: relative;
width: 300px;
height: 400px;
transform-style: preserve-3d;
border-radius: 15px;


}

.contentRandom .randomCard .face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: 1s ease-in-out;
    transform: perspective(500px) rotateY(0deg);
    border-radius: 15px;
}

.contentRandom .randomCard .face.front{
    background: transparent;
    border: 15px solid black;

}

.contentRandom .randomCard:hover .face.front{
    transform: perspective(500px) rotateY(180deg);
}

.contentRandom .randomCard .face.back{
    background: transparent;
    transform: perspective(500px) rotateY(180deg);
    border: 15px solid black;

}

.contentRandom .randomCard .face.back img{
    width: 200px;
}

.contentRandom .randomCard:hover .face.back{
    transform: perspective(500px) rotateY(360deg);

}









  /* ---- FOOTER ----- */


  /* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: rgb(247,121,36);
    background: linear-gradient(90deg, rgba(247,121,36,0.5592436803823091) 0%, rgba(136,59,223,0.6894958667060574) 100%); 
    
}

#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li{
	padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}


}
